* {
  background-color: rgba(255, 238, 218, 1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.switch {
  position: relative;
  display: flex;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider-disabled {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
}

.slider::before,
.slider-disabled::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

.slider:hover {
  border: 1px solid white;
}
.slider-disabled:hover {
  border: 1px solid red;
}
.slider-disabled::before {
  background-color: grey;
}

input:checked + .slider {
  background-color: red;
}
input:checked + .slider::before {
  transform: translateX(22px);
}
